@charset "utf-8";
/* CSS Document */
html, body {
    margin: 0;
    padding: 0;
}
#footer { margin: 0; padding: 0; }

body {
    height: 100%;
    background-color: #FFCC00;
}

#myCanvas
{
  height: 100vh;
  width: 20vw;
  background-color: orange;
}
