@charset "utf-8";
/* CSS Document */
html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: lightgray;
}

#myCanvas
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 17%;
  background-color: orange;
}
